JORNADA_MS_ENVIRONMENT=development
JORNADA_MS_DEBUG=false
JORNADA_MS_DATABASE_URL=postgresql+psycopg://jornada_ms:jornada_ms@localhost:5432/jornada_ms
JORNADA_MS_DATABASE_ECHO=false
JORNADA_MS_ACCESS_TOKEN_EXPIRE_SECONDS=900
